/target
/examples/target
/examples/tokio_tcp/*/target
/examples/tokio_vars/*/target
/examples/pastebin/upload
.idea
/tests/integration/__pycache__
.direnv/

# output of `nix build`
result

#misc
*.bak
/.vscode