[package]
name = "signals"
version = "0.0.0"
edition = "2024"
workspace = "./.."
publish = false

[dependencies]
signal-hook = "0.3.18"
nix = {version = "0.28.0", features = ["process", "signal", "uio", "personality", "ptrace"]}

[[bin]]
name = "signals"
path = "src/signals.rs"
