on: [push, pull_request]

name: CI

env:
  MSRV: 1.89.0
  LRV: 1.93.0

jobs:
  test:
    strategy:
      matrix:
        rustc_sup_version: [1.89.0, 1.90.0, 1.91.0, 1.92.0, 1.93.0]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install debug symbols
        run: |
          sudo apt-get update
          sudo apt-get install libc6-dbg
      - name: Install rust toolchain
        run: |
          rustup toolchain install ${{ matrix.rustc_sup_version }}
          rustup toolchain install $MSRV
      - name: Build test applications for functional testing
        run: make build-examples-for-func-test RUST_VERSION=${{ matrix.rustc_sup_version }}
      - name: Verify test applications rustc version
        run: |
          strings examples/target/debug/calc | grep "^rustc version" | grep ${{ matrix.rustc_sup_version }}
      - name: Run functional tests
        uses: actions-rs/cargo@v1
        with:
          command: test

  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install rust
        run: |
          rustup toolchain install $LRV
          rustup toolchain install $MSRV
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - name: Install pip and test dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          if [ -f requirements.txt ]; then sudo pip install -r requirements.txt; fi
      - name: Verify installation
        run: |
          python --version
          pip --version
      - name: Install debug symbols
        run: |
          sudo apt-get update
          sudo apt-get install libc6-dbg
      - name: Build debugger and test applications
        run: |
          make build-rel
          make build-examples RUST_VERSION=$LRV
      - name: Verify test applications and debugger rustc versions
        run: |
          strings ./target/release/bs | grep "rustc version" | grep $MSRV
          strings ./examples/target/debug/calc | grep "^rustc version" | grep $LRV
      - name: Run integration tests
        run: make int-test-rel

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install rust
        run: |
          rustup toolchain install $MSRV
          rustup component add --toolchain $MSRV rustfmt clippy
          rustup override set $MSRV
      - name: Build debugger and test programs
        run: make build-all
      - name: Verify msrv
        run: "grep \"^rust-version = .$MSRV.\" Cargo.toml"
      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings

  nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - run: nix flake check
