on: [ push, pull_request ]

name: CI

jobs:
  test:
    strategy:
      matrix:
        rustc_sup_version: [ 1.77.0, 1.78.0, 1.79.0, 1.80.0, 1.81.0 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install libunwind and debug symbols
        run: |
          sudo apt-get update
          sudo apt-get install libunwind-dev libc6-dbg
      - name: Install rustc for test applications
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rustc_sup_version }}
          override: true
          components: rustfmt, clippy
      - name: Build test applications
        run: make build-examples
      - name: Install actual rustc
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.81.0
          override: true
          components: rustfmt, clippy
      - name: Run functional tests on own stack unwind implementation
        run: make cargo-test-no-libunwind
      - name: Run functional tests
        uses: actions-rs/cargo@v1
        with:
          command: test

  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.81.0
          override: true
          components: rustfmt, clippy
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Install libunwind and debug symbols
        run: |
          sudo apt-get update
          sudo apt-get install libunwind-dev libc6-dbg
      - name: Install test dependencies
        run: |
          sudo python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then sudo pip install -r requirements.txt; fi
      - name: Build debugger and test programs
        run: make build-all
      - name: Run integration tests
        run: make int-test

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.81.0
          override: true
          components: rustfmt, clippy
      - name: Install libunwind
        run: sudo apt-get install libunwind-dev
      - name: Build debugger and test programs
        run: make build-all
      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings
