on: [ push, pull_request ]

name: CI

jobs:
  test:
    strategy:
      matrix:
        rustc_sup_version: [1.88.0, 1.89.0, 1.90.0, 1.91.0, 1.92.0 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install debug symbols
        run: |
          sudo apt-get update
          sudo apt-get install libc6-dbg
      - name: Install rustc for test applications
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rustc_sup_version }}
          override: true
          components: rustfmt, clippy
      - name: Verify msrv
        run: "grep '^rust-version = .1.92.0.' Cargo.toml"
      - name: Build test applications for functional testing
        run: make build-examples-for-func-test
      - name: Install actual rustc
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.92.0
          override: true
          components: rustfmt, clippy
      - name: Run functional tests
        uses: actions-rs/cargo@v1
        with:
          command: test

  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.92.0
          override: true
          components: rustfmt, clippy
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      - name: Install pip and test dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          if [ -f requirements.txt ]; then sudo pip install -r requirements.txt; fi
      - name: Verify installation
        run: |
          python --version
          pip --version
      - name: Install debug symbols
        run: |
          sudo apt-get update
          sudo apt-get install libc6-dbg
      - name: Build debugger and test programs
        run: make build-all-rel
      - name: Run integration tests
        run: make int-test-rel

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.92.0
          override: true
          components: rustfmt, clippy
      - name: Build debugger and test programs
        run: make build-all
      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings
